 $primary-color: #333333;
 $secondary-color: #38aae1;
 $alert-color: #f04124;
 $success-color: #43AC6A;
 $warning-color: #f08a24;
 $info-color  : #a0d3e8;
 $theme-color : #f59f00;
 $white       : #FFFFFF;
 $ghost       : #FAFAFA; 
 $snow        : #F9F9F9;
 $vapor       : #F6F6F6;
 $white-smoke : #F5F5F5;
 $silver      : #EFEFEF;
 $smoke       : #EEEEEE;
 $gainsboro   : #DDDDDD;
 $iron        : #CCCCCC;
 $base        : #AAAAAA;
 $aluminum    : #999999;
 $jumbo       : #888888;
 $monsoon     : #777777;
 $steel       : #666666;
 $charcoal    : #555555;
 $tuatara     : #444444;
 $oil         : #333333;
 $jet         : #58595b;
 $black       : #000000;
 $body        : #f4f4f4;
 $darkgray    : #613F00;
 $bordercolor : #AF7101;
 $blue        : #416E9C;

$theme1:   #D1ECF2;
$theme2:   #A6DBDC;
$theme3:   #438280;
$theme4:   #6bc8cc;

$etheme1:   #f4e6dc;
$etheme2:   #e4d2bd;
$etheme3:   #6e5636;
$etheme4:   #6e5636;