footer {
    background-color: $etheme1;
    padding-top:rem-calc(50);
    padding-bottom:rem-calc(50);
    margin-top:rem-calc(50);
    p {
        padding-top:rem-calc(15);
        font-size:16px;
    }
}