/*
@font-face {
    font-family: 'BrandonGrotesque';
    src: url('../fonts/Brandon_reg.otf');    
}

@font-face {
    font-family: 'BrandonGrotesque-Light';
    src: url('../fonts/Brandon_light.otf');    
}

@font-face {
    font-family: 'BrandonGrotesque-Bold';
    src: url('../fonts/Brandon_bld.otf');    
}
*/
@font-face {
    font-family: 'BrandonGrotesque';
    src: url('../fonts/ny font-01.eps');    
}

@font-face {
    font-family: 'BrandonGrotesque-Light';
    src: url('../fonts/ny font-02.eps');    
}

@font-face {
    font-family: 'BrandonGrotesque-Bold';
    src: url('../fonts/ny font-03.eps');    
}



$font-TimesNewRoman:'Times New Roman',Georgia,Serif;
$font-BrandonGrotesque-Regular: 'BrandonGrotesque','Source Sans Pro', sans-serif;
$font-BrandonGrotesque-Light: 'BrandonGrotesque-Light','Source Sans Pro', sans-serif;
$font-BrandonGrotesque-Bold: 'BrandonGrotesque-Bold','Source Sans Pro', sans-serif;

$default-font-size:17px;
$font-size11: 11px;
$font-size12: 12px;
$font-size13: 13px;
$font-size14: 14px;
$font-size15: 15px;
$font-size16: 16px;
$font-size17: 17px;
$font-size18: 18px;
$font-size19: 19px;
$font-size20: 20px;
$font-size21: 21px;
$font-size22: 22px;
$font-size23: 23px;
$font-size24: 24px;
$font-size25: 25px;
$font-size26: 26px;
$font-size27: 27px;
$font-size28: 28px;
$font-size29: 29px;
$font-size30: 30px;